BasedOnStyle: LLVM

AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true
ColumnLimit: 130
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
SpaceBeforeParens: Never
Standard: c++20