BasedOnStyle: LLVM

AllowShortEnumsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true
ColumnLimit: 130
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
Standard: c++20